extends layout-header

block append content
  div.ui.keyheader
    h1.ui.center.aligned.header
      i.privacy.icon
      | SSH Key Management: Add Key
  
  form.ui.form(action="/addkey", method="post", id="addkeyform")
    div.ui.middle.aligned.center.aligned.grid
      div.row
        div.column
        div.fourteen.wide.column
          input.ui.input(type="text", name="publickey", placeholder="SSH public key")
        div.column
      div.row
        div.column
        div.two.wide.column
          button.ui.button(type="submit", value="Add Key")
            i.save.icon
            | Add Key
        div.thirteen.wide.column
    