extends layout

block head

block content
  
  div.deletekeyform
    form.form-deletekey(action="/deletekey", method="post", id="deletekeyform")
      p.confirm Are you sure you want to remove the following SSH key?
      input#publickey(type="text", name="publickey", readonly)
      input(type="submit", class="btn btn-primary btn-block btn-large", value="Delete SSH Key")
    