extends layout-header

block append content
  div.ui.keyheader
    h1.ui.center.aligned.header
      i.privacy.icon
      | SSH Key Management: Delete Key
      
  form.ui.form(action="/deletekey", method="post", id="deletekeyform")
    div.ui.middle.aligned.center.aligned.grid
      div.row
        div.column
        div.fourteen.wide.column
          input.ui.input(type="text", name="publickey", readonly)
        div.column
      div.row
        div.column
        div.two.wide.column
          button.ui.button(type="submit", value="Delete Key")
            i.save.icon
            | Delete Key
        div.thirteen.wide.column
    