extends layout-header

block append head

block append content
  div.ui.keyheader
    h1.ui.center.aligned.header
      i.privacy.icon
      | SSH Key Management: Edit Key
  
  div.ui
    form.ui.form.form-editkey(action="/editkey", method="post", id="editkeyform")
      input.ui.input(type="text", name="publickey", value="#{ fullKey }", placeholder="SSH public key")
      button.ui.button(type="submit", value="Update Key")
        i.save.icon
        | Update Key
      
    