extends layout

block head

block content
  
  div.editkeyform
    form.form-editkey(action="/editkey", method="post", id="editkeyform")
      input#publickey.input-block-level(type="text", name="publickey", value="#{ fullKey }", placeholder="SSH public key")
      input(type="submit", class="btn btn-primary btn-block btn-large", value="Update SSH Key")
    