extends layout-header

block append content
  div.ui.keyheader
    h1.ui.center.aligned.header
      i.privacy.icon
      | SSH Key Management: Edit Key
  
  form.ui.form(action="/editkey", method="post", id="editkeyform")
    input(type="hidden", name="publickey", value="#{ fullKey }")
    div.ui.middle.aligned.center.aligned.grid
      div.row
        div.column
        div.two.wide.column
          input.ui.input(type="text", name="type", value="#{ type }", placeholder="Key type")
        div.eight.wide.column
          input.ui.input(type="text", name="key", value="#{ key }", placeholder="SSH Key")
        div.four.wide.column
          input.ui.input(type="text", name="label", value="#{ label }", placeholder="Label")
        div.column
      div.row
        div.column
        div.two.wide.column
          button.ui.button(type="submit", value="Update Key")
            i.save.icon
            | Update Key
        div.thirteen.wide.column