extends layout

block head

block content
  h1 Welcome
  table
    thead
      tr
        th Type
        th Key
        th Label
        th Size
    tbody
      each item in keys
        tr
          td #{ item.type }
          td #{ item.key }
          td #{ item.label }
          td #{ item.size }
    


