extends layout

block head

block content
  h1 Welcome
  table
    thead
      tr
        th Type
        th Key
        th Label
    tbody
      each item in keys
        tr
          td #{ keys.type }
          td #{ keys.key }
          td #{ keys.label }
  
    


