doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title monkey
    link(type='text/css', rel='stylesheet', href='/semantic/dist/semantic.min.css')
    link(rel='stylesheet', href='/css/monkey.css')
    block head
  body
    block content
    script(type='text/javascript', src='/js/jquery.js')
    script(type='text/javascript', src='/semantic/dist/semantic.min.js')
    block scripts
