extends layout

block append content
  div.ui.middle.aligned.padded.grid.header
    div.inverted.grey.row
      div.ten.wide.column
      div.two.wide.column
        div.ui.inline.dropdown
          div.text #{ username }
          i.dropdown.icon
          div.menu
            if isAdmin
              div.item
                a(href='/users') Admin
            div.item
              a(href='/logout') Log out

        

