extends layout

block append content
  div.ui.middle.aligned.padded.grid.topbar
    div.inverted.grey.row
      div.ten.wide.column
      div.two.wide.column
        div.ui.inline.dropdown.topbar
          div.text #{ username }
          i.dropdown.icon
          div.menu
            if isAdmin
              div.item
                a(href='/users') Admin
            div.item
              a(href='/logout') Log out

block append scripts
  script(type='text/javascript').
    $(document).ready(function(){
      $('.ui.dropdown.topbar').dropdown(); 
    });

        

