extends layout

block append content  
  div.ui.middle.aligned.center.aligned.grid.login
    div.row
      div.eight.wide.column
        div.ui.center.aligned.grid
          div.twelve.wide.column
            h2.ui.grey.image.header
              img.image(src='/images/monkey.png')
              div.content Log in to your account
            form.ui.large.form(action="/login", method="post", id="loginform")
              div.ui.stacked.segment
                div.field
                  div.ui.left.icon.input
                    i.user.icon
                    input(type="text", name="username", placeholder="Unix username")
                div.field
                  div.ui.left.icon.input
                    i.lock.icon
                    input(type="password", name="password", placeholder="Signature")
                div.ui.fluid.large.blue.submit.button Log In
              div.ui.error.message

        div.ui.message
          p Run this command to create a signature, and copy/paste as your password
          pre echo "ClearCollateral" | openssl pkeyutl -sign -inkey ~/.ssh/id_rsa | base64
          p Note: If you are not using the default SSH identity you will need to substitute your identity file (private key) for the id_rsa shown above

block scripts
  script(type='text/javascript').
    $(document).ready(function(){
      $('.ui.form').form({
        fields: {
          username: {
            identifier: 'username',
            rules: [
              {
                type: 'empty',
                prompt: 'Please enter your unix username'
              }
            ]
          },
          password: {
            identifier: 'password',
            rules: [
              {
                type: 'empty',
                prompt: 'Please enter your computed signature'
              }
            ]
          }
        }
      }); 
    });