extends layout

block head

block content
  div.loginform
    form.form-signin(action="/login", method="post", id="loginform")
      input.input-block-level(type="text", name="username", placeholder="Unix username")
      input.input-block-level(type="password", name="password", placeholder="Public key")
      input(type="submit", class="btn btn-primary btn-block btn-large", value="Log In")
    